@import url(tokens.css);
@import url(global.css);
@import url(site.css);

 body{
    --card-width: 28rem;

    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    padding: var(--space-3);
    flex-wrap: wrap;
    > nav{
        justify-content: flex-start;
        align-items: flex-start;
    }
    > main{
        max-width: var(--card-width);
        padding:var(--space-3);
        border: var(--border);
        border-block-start: var(--rule);
        background:var(--panel)
    }
}
